<div class="container user-block text-center">
 <div class="row">
 	<h2>@<%= @user.username %></h2> 
</div>
<div class="row">
    <div class="col-md-4">
        <% if @user.avatar? %>
            <%= image_tag(@user.avatar.url, :class => "avatar") %>
        <% end %>   
    </div>
    <div class="col-md-8 text-center">
        <h3>Имя: <%= @user.name %></h3>
        <h3>Дружит с нами c <%= @user.created_at.strftime('%d.%m.%Y') %> </h3>
    </div>
</div>  
</div>

<div class="row text-center">
    <%= link_to "Редактировать профиль", edit_users_url, :class => "link-button" %>

    <%= link_to "Добавить пост", new_posts_url, :class => "link-button" %>
</div>
        
<div class="container user-block text-center buffer-top">
    <div class="row">
        <% @posts.each do |post| %>

        <div class="row">
            <% if !post.photos.blank? %>
            <div class="col-md-6">
               <div class="scroller">
                    <% post.photos.each do |photo| %>
                   <div>
                        <%= image_tag(photo.url, :class => "post-photo") %>
                    </div>
                    <% end %>
               </div>
            </div> 

            <div class="col-md-6">
                <div class="post-block">
                    <div class="post-name">
                        <h1><%= post.name %></h1> <br>
                        <%= link_to "Читать полностью", controller: "posts", action: "show", id: post.id %>
                    </div>
                    <div class="post-text">
                        <p><%= post.text %></p> 
                    </div>
                </div>
            </div>
            <% else %>
            <div class="col-md-12">
                <div class="post-block-full">
                    <div class="post-name">
                        <h1><%= post.name %></h1> <br>
                        <%= link_to "Читать полностью", controller: "posts", action: "show", id: post.id %> <br>
                        <%= link_to "Обсуждение", controller: "comments", action: "show", id: post.id %> (<%= post.comments.size %>)
                    </div>
                    <div class="post-text">
                        <p><%= post.text %></p> 
                    </div>
                </div>
            </div>
            <% end %>
        </div>

    <% end %>
    </div>  
</div>
