        
<div class="container user-block text-center buffer-top">
    <div class="row">
    	
        <% @posts.each do |post| %>

        <% if !post.photos.blank? %>
            <div class="col-md-6">
               <div class="scroller">
                    <% post.photos.each do |photo| %>
                   <div>
                        <%= image_tag(photo.url, :class => "post-photo") %>
                    </div>
                    <% end %>
               </div>
            </div> 

            <div class="col-md-6">
                <div class="post-block">
                    <div class="post-name">
                        <h1><%= post.name %> @<%= @authors.find_by(id: post.user_id).username %></h1> <h4>   <%= post.created_at.strftime('%d.%m.%Y - %k:%M') %></h4> <br>
                        <%= link_to "Читать полностью", controller: "posts", action: "show", id: post.id %>
                        <%= link_to "Обсуждение", controller: "comments", action: "show", id: post.id %> (<%= post.comments.size %>)
                    </div>
                    <div class="post-text">
                        <p><%= post.text %></p> 
                    </div>
                </div>
            </div>
            <% else %>
            <div class="col-md-12">
                <div class="post-block-full">
                    <div class="post-name">
                        <h1><%= post.name %> @<%= @authors.find_by(id: post.user_id).username %></h1> <h4>   <%= post.created_at.strftime('%d.%m.%Y - %k:%M') %></h4> <br>
                        <%= link_to "Читать полностью", controller: "posts", action: "show", id: post.id %> <br>
                        <%= link_to "Обсуждение", controller: "comments", action: "show", id: post.id %> (<%= post.comments.size %>)
                    </div>
                    <div class="post-text">
                        <p><%= post.text %></p> 
                    </div>
                </div>
            </div>
            <% end %>

    <% end %>
   
    </div>  
</div>
