<div class="container text-center">
 <div class="row">
    <%= form_for @post do |f| %>

    <div class="field">
    <%= f.label :Название_поста %> <br>
    <%= f.text_field(:name, :onkeyup => "checkParams()")%>
    </div> 

    <div class="field">
    <%= f.label :Текст %> <br>
    <%= f.text_area(:text, :onkeyup => "checkParams()")%>
    </div> 

    <div class="field">
    <%= f.label :Фотографии %> <br>
    <%= f.file_field :photos, multiple: true, :style => "display: inline;" %>
    </div> 

    <div class="field">
    <%= f.label :Файлы %> <br>
    <%= f.file_field :files, multiple: true, :style => "display: inline;" %>
    </div> 

    <%= f.hidden_field :user_id %>

    <br>
    <%= f.submit "Создать пост", disabled: true, :id => "submit" %>

    <% end %>
 </div>   
</div>    

<script type="text/javascript">
      function checkParams() {
         var text = $('#post_text').val();
         var name = $('#post_name').val();

         if(text.length != 0 && name.length != 0) {
         $('#submit').removeAttr('disabled');
         } else {
         $('#submit').attr('disabled', 'disabled');
    }
      }
   </script>